// Variables
$osoc-green: #229387;

// new colors
//$color-main: #1AA2DC;
//$color-main: #00A643;
//$color-main: #1388BB;
$color-main: #007D8A;
$color-alt: #E36231;
$color-light-main: lighten( $color-main, 10% );
$color-lighter-main: darken(#F4F4F4,2%);
$color-dark-main: darken( $color-main, 10% );
$color-light-alt: lighten( $color-alt, 10% );
$color-lighter-alt: lighten( $color-alt, 45% );
$color-dark-alt: darken( $color-alt, 10% );
$color-red: #ff3333;
$color-blue: #007D8A;
$color-dark-grey: #2D2D2D;
$color-light-grey: #3F3F3F;
$color-lighter-grey: lighten($color-dark-grey, 20%);

$color-white: #FFFFFF;
$color-med-white: #FAFAFA;
$color-dark-white: #EFEFEF;
$color-darkest-white: #CFCFCF;

/* =============================
* CLEARFIX
* ============================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* ===============================
* BOOTSTRAP OVERRIDES
*================================= */
.row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  max-width: 965px;
}

.header-container {
    max-width: 965px;
    
    .header-img {
        float: left; 
        height: 120px;
    }
}

.btn {
    padding: 0.5em 1.5em;
    background-color: lighten($color-alt, 2%);
    color: $color-white;
    border: none;
    border-radius: 0;
    box-shadow: 3px 3px 0 0 $color-dark-main;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background 0.2s;

    &:hover, &:active, &:focus {
        background-color: $color-alt;
        color: $color-white;
        border: none;
        box-shadow: 2px 2px 0 0 $color-dark-main;
        outline: none;
        margin: 1px 0 -1px 1px;
    }
}

.form-control{
    float: left;
    margin-right: 0.3em;
    margin-bottom: 0.4em;
    border-color: $color-main;
    color: $color-dark-grey;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 0.3s;

    &:focus{
        color: $color-dark-grey;
        border-color: $color-main;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

textarea {
    resize: vertical;
    color: $color-dark-grey;
    font-family: "Courier New", Courier, monospace;

    &:focus {
        background-color: $color-dark-white;
    }
}

.panel {
    border-radius: 0;
    box-shadow: 2px 2px 0 0 $color-darkest-white;

    .panel-heading {
        color: $color-dark-main;
        border-radius: 0;
        border-bottom: 1px transparent;
        background-color: $color-dark-white;
        border-color: $color-darkest-white;
        font-weight: bold;
    }

    .panel-body {
        border-radius: 0;
    // border-top: 1px dashed;
        background-color: $color-white;
        border-color: $color-darkest-white;
        padding: 0.8em 1em;
        word-wrap: normal;
    }
}

blockquote {
    background-color: rgba(255,255,255,0.7);
    border: 1px solid $color-light-main;
    font-style: italic;
    font-size: 1em;
    line-height: 1.4em;
    color: $color-lighter-grey;
    position: relative;
    box-shadow: 2px 2px 0 0 $color-light-main;

    .quote-author {
        float: right;
        margin-right: 1em;
        margin-top: 0.5em;
        font-style: normal;
        font-size: 1em;
    }

    &.tool-block {
        min-height: 150px;
        vertical-align: middle;
        float: none;
    }
}

/* =============================
* STYLES
* ============================== */

html, body{
    font-family: 'Lato', sans-serif;
    color: $color-dark-grey;
    background-color: $color-med-white;
    font-size: 15px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {
    margin-top: 10px;
    font-size: 2em;
    color:$color-main;
}

h3 {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    color: $color-alt;
}

a {
    color: $color-main;

    &:hover, &:active, &:focus {
        color: $color-alt;
    }
    
    transition: all .2s;
}

a.link-button {
    padding: 6px;
    background-color: $color-light-alt;
    color: $color-white;
    font-size: 0.8em;
    
    &:hover, &:active, &:focus {
        text-decoration: none;
        background-color: $color-alt;
    }
    
    i {
        font-size: 1.2em;
    }   
}

p {
    line-height: 1.8em;
}

.section {
    padding: 1.5em 0;
}

#intro {
    box-shadow: 0 2px 0 0 $color-dark-main;
    position: relative;
    background-color: $color-main;
    color: $color-white;
    padding-top: 30px;

    h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    
    h2 {
        color: $color-white;
    }

    p {
        color: $color-white;
        line-height: 1.5em;
        font-size: 1.1em;
        margin-bottom: 0.3em;

        &.intro-description {
        font-style: italic;
        }
    }
  
    #nav {
        ul {
            padding-right: 0;
            margin-bottom: 0;
            float: right;
        
            li {
                z-index: 999;
                font-size: 1.2em;
                transition: background 0.3s;
                padding: 0.5em 0.4em;
                font-weight: bold;
                float: left;
                list-style: none;

                &:hover {
                cursor: pointer;
                cursor: hand;
                }
                
                &:last-of-type {
                padding-right: 0;
                }
            }
        }
     
        @media screen and (max-width: 480px) {
            ul {
                float: none;
                padding-left: 0;
                
                li {
                    display: block;
                    text-align: center;
                    float: none;
                }   
            }
        }
    }
}

/* =============================
* Fancy navigation
* ============================== */

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
    border-radius: 1px;
	width: 0px;
	background: transparent;
	transition: width .25s ease, background-color .25s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: $color-white;
}

.nav-toggle {
    display: none;
} 

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background-color: $color-main;
    box-shadow: 0 2px 0 0 $color-dark-main;
  
    @media screen and (max-width: 480px) {
        ul {
            display: none;
        }   
        
        .nav-toggle {
            display: block;
            text-align: right;
            padding-top: 5px;
            padding-bottom: 5px;
            cursor: hand;
            cursor: pointer;
        } 
    }
}

#meeting {
    .list-group {
        box-shadow: 2px 2px 0 0 $color-darkest-white;

        .list-group-item {
            border-radius: 0;
            padding: 5px 15px;
            position: relative;
            color: $color-dark-grey;
            border-color: $color-darkest-white;
            transition: all 0.2s;

            a, a:active, a:hover, a:focus {
                color: $color-dark-grey;
                text-decoration: none;
            }

            .arrow-right {
                position: absolute;
                top: 1.5em;
                right: 1.5em;
                transition: all 0.3s;
            }

            .minute {
                position: absolute;
                top: 1.5em;
                right: 3.5em;
                transition: all 0.3s;

                .minute-link:hover {
                color: $color-main;
                }
            }

            &:hover {
                background-color: $color-dark-white;

                .arrow-right {
                position: absolute;
                top: 1.5em;
                right: 1em;
                color: $color-main;
                }
            }
        }
    }
}



#getting-started-outer-container {
    background-color: $color-lighter-main;
    background: url(../images/header2.jpg);
    background-size: cover;
    background-position: center;
        
        
    #getting-started-container {
        
        h2 {
            color: $color-white;
        }
        
        background-color:rgba(0,125,138,0.75);
        padding-top: 50px;
        padding-bottom: 20px;
        position: relative;
        
        blockquote {
            margin-top: 10px;
        }
        
        p {
            color: $color-white;
            font-size: 1.1em;
            font-weight: 900;
        }
  
        .intro-subscribe {
            color: $color-white;
            font-weight: bold;
            font-size: 1.1em;
        }

        .form-control{
            border-radius: 0;
            background-color: $color-white;
            color: $color-dark-grey;
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            max-width: 200px;

            &:hover {
            background-color: $color-dark-white;
            }

            &:focus{
            color: $color-dark-grey;
            background-color: $color-dark-white;
            -webkit-box-shadow: none;
            box-shadow: none;
            }
        }

        .form-group {
            margin-bottom: 0em;
        } 
    }

}

#projects-container, #events-container {
    background-color: $color-lighter-main;
    
    .link-button {
        font-size: 1em;
    }
}

#tools {
    .tool {
        text-align: center;
        
        span {
            display: block;
            margin-top: 1em;
            text-align: left;
            line-height: 1.8em;
            
            @media screen and (max-width: 992px) {
                margin-bottom: 2em;
            }
        }
        

        .tool-img-wrapper {
            line-height: 100px;

            img {
                vertical-align: middle;
                max-width: 100px;
                max-height: 100px;
            }
        }

    }
}

#vision {
    a {
        &:hover {
            color: $color-alt;
        }

      transition: all .2s;
    }
}

.display-table {
  display: table;
  table-layout: fixed;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

#footer {
    background-color: $color-main;
    color: $color-white;

    p {
        margin: 2em 0 0.5em 0;
    }

    a, a:active, a:hover, a:focus {
        text-decoration: underline;
        color: $color-white;
    }
    
    #partners {
        margin-top: 1em;
        
        h2 {
            color: $color-white;
        }
    }
    
    .partner-logos {
        margin-top: 20px;  
        margin-bottom: 20px;  
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row; /* works with row or column */
        flex-direction: row;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        
        @media screen and (max-width: 480px) {
            
            display: block;
            
            img {
                
                margin: 20px auto;
                display: block;
            }
        }
        
        img {
            opacity: 0.85;
            max-height: 100px;
            max-width: 200px;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.green {
  color:$color-main;
}

#team {
    .team-gallery {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        
        li {
            width: 280px;
            padding: 15px;
            text-align: center;
            
            .name {
                margin-top: 1em;
                font-size:1.2em;
            }
        }
        
        img{
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            border-radius: 300px;
            -webkit-transition: -webkit-filter .33s;
            transition: filter .33s,-webkit-filter .33s;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background: #ddd;
            -webkit-filter: contrast(2) grayscale(1) opacity(0.7) brightness(0.9);
            filter: contrast(2) grayscale(1) opacity(0.7) brightness(0.9);
            
            &:hover {
                -webkit-filter: none;
                filter: none;
            }
        }
    }
    
    #community-pictures {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-around;   
        -webkit-flex-flow: row wrap;
        
        a {
            margin-top: 1em;
            margin-right: 1em;
            
            img {
                border-radius: 5px;
                -webkit-filter: contrast(2) grayscale(1) opacity(0.7) brightness(0.9);
                filter: contrast(2) grayscale(1) opacity(0.7) brightness(0.9);
                -webkit-transition: -webkit-filter .33s;
                transition: filter .33s,-webkit-filter .33s;
                
                &:hover {
                    -webkit-filter: none;
                    filter: none;
                }
            }
        }
        

    }
}

/* =============================
* MEDIA QUERIES
* ============================== */

.form-control::-webkit-input-placeholder { color: lighten($color-lighter-grey, 10%); }
.form-control:-moz-placeholder { color: lighten($color-lighter-grey, 10%); opacity: 1;}
.form-control::-moz-placeholder { color: lighten($color-lighter-grey, 10%); }
.form-control:-ms-input-placeholder { color: lighten($color-lighter-grey, 10%); }
